  <!-- NAVBAR -->
  <nav id="app-nav" class="navbar bc-nav py-2 px-3 d-none">
    <a class="navbar-brand bc-brand mb-0" href="#"><span>Con</span>trole</a>

    <div class="d-flex align-items-center gap-2 ms-auto flex-wrap">
      <div id="nav-user" class="nav-user-badge d-none"></div>

      <ul class="nav bc-tabs" id="main-tabs" style="flex-wrap:wrap;">
        <li class="nav-item d-none" id="nav-item-shop">
          <a class="nav-link" href="#" data-action="tab" data-tab="shop" id="tab-shop">Loja</a>
        </li>
        <li class="nav-item d-none" id="nav-item-alterar-codigo">
          <a class="nav-link" href="#" id="tab-alterar-codigo" data-action="alterar-codigo">Alterar código</a>
        </li>
        <li class="nav-item d-none" id="nav-item-alterar-senha-admin">
          <a class="nav-link" href="#" id="tab-alterar-senha-admin" data-action="alterar-senha-admin">Senha admin</a>
        </li>
        <li class="nav-item d-none" id="nav-item-admin">
          <a class="nav-link" href="#" data-action="tab" data-tab="admin" id="tab-admin">Controle</a>
        </li>
        <li class="nav-item d-none" id="nav-item-produtos">
          <a class="nav-link" href="#" data-action="tab" data-tab="produtos" id="tab-produtos">Produtos</a>
        </li>
        <li class="nav-item d-none" id="nav-item-usuarios">
          <a class="nav-link" href="#" data-action="tab" data-tab="usuarios" id="tab-usuarios">Usuários</a>
        </li>
      </ul>

      <button class="btn btn-sm btn-bc btn-bc--ghost btn-bc--danger" data-action="logout">
        <svg class="ic" width="14" height="14" aria-hidden="true"><use href="#i-logout"/></svg>
        Sair
      </button>
    </div>
  </nav>
